/* Fonts */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/alegreya/v31/4UaSrEBBsBhlBjvfkSLk3abBFkvpkARTPlbgv5qhmSA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/alegreya/v31/4UaSrEBBsBhlBjvfkSLk3abBFkvpkARTPlYHuJqhmSA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/alegreya/v31/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNG9hU4-6qm.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/alegreya/v31/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGERI4-6qm.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v24/5aUt9_-1phKLFgshYDvh6Vwt7V9dv21W.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v24/5aUo9_-1phKLFgshYDvh6Vwt7V9VBEhGiU9D.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v24/5aUz9_-1phKLFgshYDvh6Vwt7VptuA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v24/5aUu9_-1phKLFgshYDvh6Vwt5eFIqEp2jg.ttf) format('truetype');
}
/* END Fonts */

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
    system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Consolas,
    'Liberation Mono',
    Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/* END modern-normalize */

/* Base styles (over modern-normalize.css) */
html {
  line-height: 1.3;
  margin: 1em;
}

body {
  font-family: Alegreya, Georgia, Palatino, serif;
}

a {
  color: darkred;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  color: darkred;
  margin-bottom: 0.25em;
}

header h1 {
  font-size: 2.25em;
  text-align: center;
  border-bottom: 2px burlywood solid;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
  border-bottom: 1px solid burlywood;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

/* Sidebar styles (as blockquotes) */
blockquote {
  background-color: beige;
  padding: 1em 1em 0.5em 1em;
  font-family: "Alegreya Sans", Helvetica, Arial, sans;
}

blockquote h4 {
  margin-top: 0;
}

blockquote p,
blockquote ol,
blockquote ul {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Table styles */
table {
  margin-top: 0.5em;
  width: 100% !important;
  max-width: 750px !important;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid burlywood;
  font-family: "Alegreya Sans", Helvetica, Arial, sans;
}

tr:first-child{
  border-top: 1px solid burlywood;
}

tr:nth-child(even) {
  background-color: beige;
}

tr.header {
  background-color: white;
}

td,
th {
  padding: 0.25em 0.5em;
}

caption {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

/* TOC collapsing list styles */
#TOC {
  padding-top: 1em;
  columns: 3 15em;
}

nav ul {
  margin-top: 0;
  padding-left: 1em;
}

nav ul li {
  cursor: auto;
  list-style-type: none;
}

nav ul li::before {
  content: ' ';
  padding-left: 2em;
  font-size: 0.75em;
}

nav ul li.collapsibleListOpen,
nav ul li.collapsibleListClosed {
  cursor: pointer;
  list-style-type: none;
}

nav ul li.collapsibleListOpen {
  margin-left: 1px;
}

nav ul li.collapsibleListOpen::before {
  content: '▼ ';
  font-size: 0.75em;
}

nav ul li.collapsibleListClosed::before {
  content: '► ';
  font-size: 0.75em;
}

nav ul li.collapsibleListOpen::before,
nav ul li.collapsibleListClosed::before {
  padding-left: 1em;
}

nav ul li a {
  color: darkred;
  text-decoration: none;
}

a#goToTop {
  position: fixed;
  right: 1em;
  top: 1em;
  width: 2em;
  height: 2em;
  background-color: rgba(222,184,135,0.5);
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Alegreya Sans", Helvetica, Arial, sans;
  font-weight: bold;
}

/* Stat block styles */
.creature-statblock {
  font-family: "Alegreya Sans", Helvetica, Arial, sans;
}

.creature-statblock table {
  width: auto !important;
}

.creature-statblock h5 {
  color: black;
  border-bottom: 1px solid darkgray;
}

/* Footer */
footer {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid burlywood;
  text-align: center;
}

/* END base styles */

/* Media queries */
@media screen and (max-width: 780px) {
  table {
    font-size: 0.8em;
  }

  .creature-statblock table {
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  #TOC {
    position: fixed;
    overflow-y: scroll;
    width: 15em;
    columns: auto;
    top: 2em;
    height: calc(100% - 7em);
  }

  #title-block-header,
  #content {
    margin-left: 20em;
  }

  nav ul li a:active,
  nav ul li a.active,
  nav ul li a:hover {
    font-weight: 1000;
  }
}
/* END media queries */
